/* body{
    background-color: aquamarine;
} */

:root{  
    /* --theme-color: #e6bc7c; */
    --theme-color: #d3c8b7;
}

.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px 2px rgb(230, 228, 219);
    margin: 0 auto;
    /* margin-top: -50px; */
    margin-bottom: 10px;
}

.background{
    background-color: var(--theme-color);
    padding: 20px;
    border-radius: 0.375rem;
    border:1px solid rgba(0, 0, 0, 0.175);
    /* box-shadow: 0 0 5px 5px #fff; */
    /* margin-bottom: 20px; */
}

.theme{
background-color: var(--theme-color);
}

#resume-template{
    display:none;
}

#save-btn{
    display:none;
}